html{
    scroll-behavior: smooth;
;
}

/* 
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal; */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.container{
    padding: 0px 0px 0px 0px;
    text-align: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 40px 20px 0px 20px;
}

.header__flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo__img img{
    max-width: 100%;
    height: auto;
}

.zagolovok p{
    margin: 0;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal; 
    font-size: 12px;
}

.zagolovok h3{
    margin: 0;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.logo__vector img{
    max-width: 100%;
    height: auto;
}



/*container*/

.container__main{
    padding: 100px 0 100px 0;
    max-width: 100%;
    width: 1260px;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 10px;
}

.main__block{
    background-color: #9C3F3F;
    position: relative;
    transition: 0.3s;
    margin: 0px 10px 20px 5px;
    text-align: center;
    width: 100%;
    max-width: 380px;
    height: auto;
    overflow: hidden;
}

.main__block a{
    display: block;
    width: 100%;
    transition: 0.3s;
    padding: 20px 0px;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 23px;
    letter-spacing: 1px;
}

.main__block::before{
    transition: 0.3s ;
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: -100%;
    top: 0;
    background-color: #9C3F3F;
    
    transform: skew(150deg);
}

.main__block:hover::before{
    background-color: #ec9393;
    opacity: 0.3;
    left: -50%;
}

.main__block:hover a{
    color: rgb(255, 255, 255);
}




/*media*/


@media screen and (max-width:1204px){
.main{
    justify-content: center;
    padding: 0px 10px;
}
}


@media screen and (max-width:1020px){

.zagolovok{
    padding: 40px 0 40px 0;
}
.zagolovok h3{

    font-size: 7vw;
}


.zagolovok p{
    margin: 0;
}

.header__flex{
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width:600px){
.main{
    padding: 0px 0px;
}
.main__block{
    width: 100%;
    max-width: 100%;
}
.main__block a{
    padding: 15px 0px;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
}
.logo__img img{
    max-width: 60%;
    height: auto;
}
.logo__vector img{
    max-width: 100%;
    width: 150px;
    height: auto;
}

.zagolovok h3{
    font-size: 9vw;
}
.zagolovok p{
    font-size: 2vw;
}
}


@media screen and (max-width:400px){
.main__block a{
    padding: 15px 0px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}
.logo__img img{
    max-width: 74%;
    height: auto;
}
.logo__vector img{
    max-width: 100%;
    width: 190px;
    height: auto;
}
}







