html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

/* 
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal; */

body{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 100vh;
    width: 100%;

}
.container{
    padding: 0px 20px 0px 20px;
    text-align: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 40px 0px 20px 0px;
}

.header__flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo__img img{
    max-width: 100%;
    height: auto;
}

.zagolovok p{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal; 
    font-size: 12px;
}

.zagolovok h3{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.logo__vector img{
    max-width: 100%;
    height: auto;
}



@media screen and (max-width:1020px){

.zagolovok{
    padding: 40px 0 40px 0;
}
.zagolovok h3{

    font-size: 7vw;
}


.zagolovok p{
    margin: 0;
}

.header__flex{
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width:600px){

.logo__img img{
    max-width: 60%;
    height: auto;
}
.logo__vector img{
    max-width: 100%;
    width: 150px;
    height: auto;
}
.zagolovok p{
    font-size: 2vw;
}
}

@media screen and (max-width:400px){

.logo__img img{
    max-width: 60%;
    height: auto;
}
.logo__vector img{
    max-width: 100%;
    width: 150px;
    height: auto;
}

}








/* .container{
    padding: 40px 10px 20px 10px;
    text-align: center;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;

}

.row .zagolovok h3{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.zagolovok{
    padding: 0 10px 0 10px;
}

.row .zagolovok p{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal; 
    font-size: 12px;
} */


/* @media screen and (max-width:1116px){
.container{
    padding: 0px 0px 0px 0px;

}
.img_v{
    padding: 0;
}
.zagolovok{
    padding: 60px 0px 60px 0px;
    width: 100%;
}
}

@media screen and (max-width:530px){
    .img img{
        width: 80px;
    }
    .img_v img{
        width: 130px;
    }
    .row .zagolovok p{

        font-size: 9px;
}

    .row .zagolovok h3{
        font-size: 35px;
}
}

@media screen and (max-width:368px){
    .img img{
        width: 80px;
    }
    .img_v img{
        width: 130px;
    }
    .row .zagolovok p{
        margin-bottom: 0px;
        font-size: 7px;
}

    .row .zagolovok h3{
        font-size: 27px;
}
    .zagolovok{
        padding: 30px 10px 30px 10px;
        width: 100%;
}
} */
