html{
    scroll-behavior: smooth;
;
}

/* 
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal; */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.container{
    padding: 0px 0px 0px 0px;
    text-align: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 40px 20px 0px 20px;
}

.header__flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo__img img{
    max-width: 100%;
    height: auto;
}

.zagolovok p{
    margin: 0;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal; 
    font-size: 12px;
}

.zagolovok h3{
    margin: 0;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.logo__vector img{
    max-width: 100%;
    height: auto;
}

.dodzekyn{
    padding: 100px 10px 50px 10px;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.dodzekyn__block{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: #9C3F3F;
    border: 5px solid #c10404;
    border-radius: 5px;
}

.dodzekyn__block h3{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
}

.dodzekyn__block p{
    font-size: 20px;
    text-align: center;
    padding: 20px 30px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #ffffff;
}

.dodzekyn__block span{
    display: block;
    text-align: center;
    font-size: 20px;
    color: aquamarine;
    margin-bottom: -20px;
}


.exit{
    position: relative;
    transition: 0.4s linear;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #9C3F3F;
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;
    overflow: hidden;
}

.exit a{
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
}

.exit a::before{
    transition: 0.3s ;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #9C3F3F;
    transform: skew(150deg);
}

.exit a:hover::before{
    background-color: #ec9393;
    opacity: 0.3;
    left: -50%;
}

.exit:hover{
    background-color: #9c3f3f;

}

.exit:hover a{
    color: white;
}




/*media*/


@media screen and (max-width:1020px){

.zagolovok{
    padding: 40px 0 40px 0;
}
.zagolovok h3{

    font-size: 7vw;
}


.zagolovok p{
    margin: 0;
}

.header__flex{
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width:600px){

.dodzekyn__block p{
    font-size: 16px;
    padding: 20px 10px;
    letter-spacing: 2px;
    line-height: 25px;
}
.logo__img img{
    max-width: 60%;
    height: auto;
}
.logo__vector img{
    max-width: 100%;
    width: 150px;
    height: auto;
}

.zagolovok h3{
    font-size: 9vw;
}
.zagolovok p{
    font-size: 2vw;
}
}

@media screen and (max-width:450px){

.dodzekyn__block h3{
    font-size: 30px;
    letter-spacing: 4px;
}
}

@media screen and (max-width:400px){

.logo__img img{
    max-width: 74%;
    height: auto;
}
.logo__vector img{
    max-width: 100%;
    width: 190px;
    height: auto;
}
}







