html{
    scroll-behavior: smooth;
;
}

/* 
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal; */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*strelka*/


.strelka{
    text-decoration: none;
    position: fixed;
    z-index: 40;
    right: 25px;
    bottom: 30px;
    background: #070bda;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strelka i{
    color: white;
    font-size: 40px;
}

.strelka:hover{
   box-shadow: 0px 0px 10px 0px #070bda,
   0px 0px 20px 0px #070bda;
}


.exit{
    position: relative;
    transition: 0.4s linear;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: fixed;
    background-color: #9C3F3F;
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;
    overflow: hidden;
}

.exit a{
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
}

.exit a::before{
    transition: 0.3s ;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #9C3F3F;
    transform: skew(150deg);
}

.exit a:hover::before{
    background-color: #ec9393;
    opacity: 0.3;
    left: -50%;
}

.exit:hover{
    background-color: #9c3f3f;

}

.exit:hover a{
    color: white;
}




.container__kata{
    padding: 100px 0 50px 0;
}

.kata__zagolovok h3{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal; 
    font-size: 40px;
    text-align: center;
}

.kata__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block__orange{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__orange p{
    max-width: 470px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__orange .kata__orange{
    padding: 40px 0;
    background-color: #D34406;
}

.block__video__flex{
    padding: 80px 10px 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block__video__flex video{
    margin: 0 30px;
}



.block__main_p{
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 19px;
    text-align: center;
   
}


/*orange__blue*/

.block__orange_blue{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__orange_blue p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__orange_blue .kata__orange_blue{
    padding: 40px 0;
    background-color: #D34406;
}

.kata__orange_blue{
    position: relative;
}

.kata__orange_blue::before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 30px;
    height: 80px;
    background-color: #372DCE;
}

/*blue*/

.block__blue{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__blue p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__blue .kata__blue{
    padding: 40px 0;
    background-color: #372DCE;
}

.kata__blue{
    position: relative;
}


/*blue_yellow*/

.block__blue_yellow{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__blue_yellow p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__blue_yellow .kata__blue_yellow{
    padding: 40px 0;
    background-color: #372DCE;
}

.kata__blue_yellow{
    position: relative;
}

.kata__blue_yellow::before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 30px;
    height: 80px;
    background-color: #E2FF0A;
}


/*yellow*/

.block__yellow{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__yellow p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__yellow .kata__yellow{
    padding: 40px 0;
    background-color: #E2FF0A;
}

.kata__yellow{
    position: relative;
}

/*yellow_green*/

.block__yellow_green{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__yellow_green p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__yellow_green .kata__yellow_green{
    padding: 40px 0;
    background-color: #E2FF0A;
}

.kata__yellow_green{
    position: relative;
}

.kata__yellow_green::before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 30px;
    height: 80px;
    background-color: #0B980B;
}

/*green*/

.block__green{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__green p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__green .kata__green{
    padding: 40px 0;
    background-color: #0B980B;
}

/*green_brown*/

.block__green_brown{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__green_brown p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__green_brown .kata__green_brown{
    padding: 40px 0;
    background-color: #0B980B;
}

.kata__green_brown{
    position: relative;
}

.kata__green_brown::before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 30px;
    height: 80px;
    background-color: #513421;
}


/*brown*/

.block__brown{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__brown p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__brown .kata__brown{
    padding: 40px 0;
    background-color: #513421;
}

.kata__brown{
    position: relative;
}


/*brown_gold*/

.block__brown_gold{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__brown_gold p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__brown_gold .kata__brown_gold{
    padding: 40px 0;
    background-color: #513421;
}

.kata__brown_gold{
    position: relative;
}

.kata__brown_gold::before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 30px;
    height: 80px;
    background-color: #EBFB00;
}


/*black_dan*/

.block__black_dan{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__black_dan p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
    border-bottom: 1px solid white;
}

.block__black_dan .kata__black_dan{
    padding: 40px 0;
    background-color: #000000;
}

.kata__black_dan{
    position: relative;
}

.kata__black_dan::before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 30px;
    height: 80px;
    background-color: #EBFB00;
}






@media screen and (max-width:960px){
.exit{
    background-color: #000000;
    padding: 8px;
}

.exit a{
    font-size: 16px;
}

.exit a::before{
    width: 0%;
}

.exit a:hover::before{
    background-color: #ec9393;
    opacity: 0.3;
    left: -50%;
}

.exit:hover{
    background-color: #0c0663;
    

}

}

@media screen and (max-width:720px){
.block__video__flex video{
    width: 500px;
    height: 300px;
}
.block__main_p{
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 19px;
    text-align: center;
   
}
}

@media screen and (max-width:660px){
.block__video__flex video{
    width: 450px;
    height: 300px;
}

.block__main_p{
    max-width: 100%;
    width: 450px;
    margin: 0 auto;
    margin-top: 40px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 19px;
    text-align: center;
   
}

}

@media screen and (max-width:520px){
.block__video__flex video{
    width: 360px;
    height: 200px;
}

.block__main_p{
    max-width: 100%;
    width: 360px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 15px;
    text-align: center;
   
}

.strelka{
    text-decoration: none;
    position: fixed;
    z-index: 40;
    right: 10px;
    bottom: 10px;
    background: #070bda;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strelka i{
    color: white;
    font-size: 30px;
}

.strelka:hover{
   box-shadow: 0px 0px 10px 0px #070bda,
   0px 0px 20px 0px #070bda;
}

}

@media screen and (max-width:420px){
.block__video__flex video{
    width: 300px;
    height: 180px;
}

.block__main_p{
    max-width: 100%;
    width: 290px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 15px;
    text-align: center;
   
}

}

@media screen and (max-width:380px){
.block__video__flex video{
    width: 270px;
    height: 160px;
}
.block__main_p{
    max-width: 100%;
    width: 270px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
}

