html{
    scroll-behavior: smooth;
;
}

/* 
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal; */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.exit{
    position: relative;
    transition: 0.4s linear;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #9C3F3F;
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;
    overflow: hidden;
}

.exit a{
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
}

.exit a::before{
    transition: 0.3s ;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #9C3F3F;
    transform: skew(150deg);
}

.exit a:hover::before{
    background-color: #ec9393;
    opacity: 0.3;
    left: -50%;
}

.exit:hover{
    background-color: #9c3f3f;

}

.exit:hover a{
    color: white;
}




.container__kata{
    padding: 100px 0 50px 0;
}

.kata__zagolovok h3{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal; 
    font-size: 40px;
    text-align: center;
}

.kata__main{

}

.kata__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block__orange{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__orange p{
    max-width: 470px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__orange .kata__orange{
    padding: 40px 0;
    background-color: #D34406;
}

.block__video__flex{
    padding: 30px 10px 140px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block__video__flex video{
    margin: 0 30px;
}



.block__main_p{
    max-width: 100%;
    width: 550px;
    margin: 0 auto;
    margin-top: 40px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 19px;
    text-align: center;
   
}


/*orange__blue*/

.block__orange_blue{
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
    
}

.block__orange_blue p{
    max-width: 550px;
    margin: 0 auto;
    color: white;
    background: black;
    text-align: center;
    font-size: 18px;
    padding: 20px 10px;
}

.block__orange_blue .kata__orange_blue{
    padding: 40px 0;
    background-color: #D34406;
}

.kata__orange_blue{
    position: relative;
}

.kata__orange_blue::before{
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    width: 30px;
    height: 80px;
    background-color: #372DCE;
}







@media screen and (max-width:960px){
.exit{
    background-color: #000000;
    padding: 8px;
}

.exit a{
    font-size: 16px;
}

.exit a::before{
    width: 0%;
}

.exit a:hover::before{
    background-color: #ec9393;
    opacity: 0.3;
    left: -50%;
}

.exit:hover{
    background-color: #0c0663;
    

}

}


@media screen and (max-width:660px){
.block__video__flex video{
    width: 430px;
    height: 330px;
}

.block__main_p{
    max-width: 100%;
    width: 430px;
    margin: 0 auto;
    margin-top: 40px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 19px;
    text-align: center;
   
}

}

@media screen and (max-width:520px){
.block__video__flex video{
    width: 330px;
    height: 230px;
}

.block__main_p{
    max-width: 100%;
    width: 330px;
    margin: 0 auto;
    margin-top: 40px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 15px;
    text-align: center;
   
}

}

@media screen and (max-width:420px){
.block__video__flex video{
    width: 290px;
    height: 150px;
}

.block__main_p{
    max-width: 100%;
    width: 290px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.block__main_p p{
    padding: 15px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    font-size: 15px;
    text-align: center;
   
}

}
